@import "./../scss/variables.scss";
@import "./../scss/mixins.scss";
@import "./../../node_modules/rfs/scss";

.carousel {
	overflow: hidden;
	position: relative;

	@include breakpoint($sm-device-min) {
		border-top: none;
		padding: 0.5em 0 2em 0;
	}
}

.carousel-title {
	color: $color-lighter;
	padding: 0 1em;

	@include breakpoint($sm-device-min) {
		padding: 0 2.6em;
	}
}

.carousel-pagination {
	position: relative;
	padding: 0 2.4em;

	@include breakpoint($sm-device-max) {
		padding: 0 1.3em;
	}

	@include swipe($sm-device-max)
}

.carousel-pages {
	position: relative;
	transition: all 0.8s ease-in-out 0s;

	@include breakpoint($sm-device-max) {
		display: flex;
	}

	&:before,
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

.carousel-page {
	float: left;
	opacity: 0.5;

	&.active {
		opacity: 1;
	}

	@include breakpoint($sm-device-max) {
		float: none;
		position: relative;
		opacity: 1;
	}

	@include swipeChild($sm-device-max)
}
