@import "./../scss/variables.scss";
@import "./../scss/mixins.scss";
@import "./../../node_modules/rfs/scss";

.carousel {
	overflow: hidden;
	position: relative;

	@include breakpoint($sm-device-min) {
		border-top: none;
		padding: 1em 0 2em 0;
	}
}

.carousel-title {
	color: $color-lighter;
	padding: 0 1em;

	@include breakpoint($sm-device-min) {
		padding: 0 2.4em;
	}
}

.carousel-pagination {
	position: relative;
	padding: 0 1em;

	@include breakpoint($sm-device-min) {
		padding: 0 2em;
	}
}

.carousel-pages {
	position: relative;
	transition: all 0.8s ease-in-out 0s;

	@include breakpoint($sm-device-max) {
		overflow: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		scroll-snap-align: start;
		display: flex;
	}

	&:before,
	&:after {
		content: " ";
		display: block;
		clear: both;
	}

	&::-webkit-scrollbar {
	  width: 0;
	  height: 0;
	}

	&::-webkit-scrollbar-thumb {
	  background: black;
	  border-radius: 10px;
	}

	&::-webkit-scrollbar-track {
	  background: transparent;
	}
}

.carousel-page {
	float: left;
	opacity: 0.5;

	&.active {
		opacity: 1;
	}

	@include breakpoint($sm-device-max) {
		float: none;
		position: relative;
		display: flex;
		flex-shrink: 0;
		scroll-snap-align: start;
		transform-origin: center center;
	  transform: scale(1);
	  transition: transform 0.5s;
	  opacity: 1;
	}
}
