@import "./../scss/variables.scss";
@import "./../scss/mixins.scss";

.infos-list {
	display: flex;
	padding: 2em 0 1em 0;
	flex-direction: column;
	background-color: $bg-darker;

	@include breakpoint($md-device-min) {
		border-top: 2px solid $bg-lighter;
		flex-direction: row;
		margin: 0 4vw;
		padding: 2em 0 6em 0;
	}

	button {
		border: none;
		background-color: transparent;
		cursor: pointer;
		color: $color-default;
		text-align: left;
		padding: 0 2em 0 0;
		position: relative;

		&:after {
			display: block;
			content: '〈';
			position: absolute;
			font-size: 1.8em;
			top: 30%;
			right: 12px;
			transition: opacity 0.6s linear 0s;
			transform: rotate(-90deg);
		}

		&:hover {
			color: $color-default;
		}

		&.active {
			&:after {
				transition: opacity 0.6s linear 0s;
				transform: rotate(90deg);
				top: 25%;
			}
		}

		@include breakpoint($md-device-min) {
			display: none;
		}
	}

	.info-list-content {

		@include breakpoint($md-device-max) {
			display: none;
		}

		&.active {
			display: block;
		}
	}

	.info-list-section {
		min-width: 220px;
		display: flex;
		flex-direction: column;
		border-top: 1px solid $bg-lighter;
		padding: 0 1em;

		@include breakpoint($md-device-min) {
			border-top: none;
			padding: 0 2em;
		}
	}

	.info-list-title {
		@include breakpoint($md-device-max) {
			display: none;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
	}

	dl {
		@include breakpoint($sm-device-min) {
			margin: 0;
			padding: 0 0 2em 0;
			display: grid;
			grid-template: auto / auto auto;
			grid-column-gap: 5%;
		}

		dt {
			@include breakpoint($sm-device-min) {
				grid-column: 1;
			}
		}

		dd {
			color: $color-lighter;
			padding: 0 0 0 0.6em;

			@include breakpoint($sm-device-min) {
				grid-column: 2;
				padding: 0;
			}
		}

		dt, dd {
			margin: 0.6em 0;

			@include breakpoint($sm-device-min) {
				margin: 0 0 0.8em 0;
			}
		}
	}
}
