@import "./../scss/variables.scss";
@import "./../scss/mixins.scss";
@import "./../../node_modules/rfs/scss";

.navigation-menu {
	min-width: 10vw;
	padding: 2em 0 2em 2em;
	position: relative;

	@include breakpoint($sm-device-max) {
		width: 100%;
		padding: 0;
	}

	button {
		z-index: 2;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.3em;

		@include breakpoint($sm-device-max) {
			display: block;
		}

		span {
			width: 1.8em;
			border: 1px solid $color-default;
			background: $color-default;
			margin: 0.4em;
			display: block;
			transition: all 0.6s linear 0s;
		}

		&.active {
			position: fixed;
			background-color: rgba(255, 255, 255, 0.3);
			border-radius: 0 0 0 50%;

			span {
				&:nth-last-child(2) {
					opacity: 0;
				}

				&:nth-last-child(1) {
					transform: rotate(-45deg) translate(6px, -6px);
				}

				&:nth-last-child(3) {
					transform: rotate(45deg) translate(8px, 6px);
				}
			}
		}
	}

	.navigation-list {
		text-align: right;
		@include responsive-font-size(1em);

		@include breakpoint($sm-device-max) {
			text-align: left;
			background-color: $bg-default;
			width: 100%;
			min-height: 104vh;
			height: auto;
			position: fixed;
			top: 0;
			bottom: 0;
			right: -100%;
			z-index: 1;
			transition: all 0.4s linear 0s;
			overflow: auto;
		}

		&.active {
			right: 0;
		}

		a {
			color: $color-default;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.navigation-items {
			@include breakpoint($sm-device-max) {
				padding: 2em 0 5em 0;
			}
		}

		.navigation-item {
			margin: 1.2em 0;
			padding: 0 1.2em 0.8em 1.2em;
			border-bottom: 1px solid $bg-lighter;

			@include breakpoint($sm-device-min) {
				margin: 0 0 1em 0;
				padding: 0;
				border: none;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.navigation-subitem {
			a {
				color: $color-lighter;
			}
		}
	}
}
