@import "./../scss/variables.scss";
@import "./../scss/mixins.scss";

.navigation-control {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	color: $color-default;
	opacity: 0.5;
	transition: all 0.3s linear 0s;
	display: none;
	outline: none;

	&:after {
		display: block;
		font-size: 80px;
		padding: 0 0.1em;
	}

	&:hover {
		opacity: 1;
		// background-color: rgba(255, 255, 255, 0.2);
	}

	&.active {
		@include breakpoint($sm-device-min) {
			display: block;
		}
	}

	&.left {
		left: 0;

		&:after {
			content: "⟨"
		}
	}

	&.right {
		right: 0;

		&:after {
			content: "⟩"
		}
	}
}
