@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/rfs/scss";
@import "./scss/variables.scss";
@import "./scss/mixins.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include responsive-font-size(1em);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bg-darker;
  color: $color-default;
}

@include generateHeadings($base-font-size, $scale-font)

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
	color: $color-default;

	@include breakpoint($sm-device-max) {
		@include responsive-font-size(1.3em);
	}
}

.img-icon {
	max-height: 1em;
	width: auto;
	margin: 0.3em 0;
}

.icon {
	max-height: 1em;
	width: auto;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
}
