@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/rfs/scss";
@import "./scss/variables.scss";
@import "./scss/mixins.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
 	@include font-size(18px);
 	line-height: 1.5em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bg-darker;
  color: $color-default;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

@include generateHeadings($base-font-size, $scale-font)
